// .icon {
// 	display: inline-block;
// 	width: 1em;
// 	height: 1em;
// 	fill: currentColor;
// }

.icon-accordion {
	display: inline-block;
	vertical-align: middle;
	width: 18rem;
	height: 9rem;
}
.icon-adv-1 {
	display: inline-block;
	vertical-align: middle;
	width: 64rem;
	height: 63rem;
}
.icon-adv-2 {
	display: inline-block;
	vertical-align: middle;
	width: 56rem;
	height: 55rem;
}
.icon-adv-3 {
	display: inline-block;
	vertical-align: middle;
	width: 67rem;
	height: 39rem;
}
.icon-adv-4 {
	display: inline-block;
	vertical-align: middle;
	width: 61rem;
	height: 60rem;
}
.icon-adv-5 {
	display: inline-block;
	vertical-align: middle;
	width: 57rem;
	height: 43rem;
}
.icon-adv-6 {
	display: inline-block;
	vertical-align: middle;
	width: 57rem;
	height: 43rem;
}
.icon-adv-7 {
	display: inline-block;
	vertical-align: middle;
	width: 49rem;
	height: 56rem;
}
.icon-adv-8 {
	display: inline-block;
	vertical-align: middle;
	width: 53rem;
	height: 57rem;
}
.icon-arrow-down {
	display: inline-block;
	vertical-align: middle;
	width: 7rem;
	height: 5rem;
}
.icon-arrow-right {
	display: inline-block;
	vertical-align: middle;
	width: 4rem;
	height: 7rem;
}
.icon-breadcrumbs {
	display: inline-block;
	vertical-align: middle;
	width: 4rem;
	height: 7rem;
}
.icon-check {
	display: inline-block;
	vertical-align: middle;
	width: 8rem;
	height: 6rem;
}
.icon-close {
	display: inline-block;
	vertical-align: middle;
	width: 23rem;
	height: 23rem;
}
.icon-error {
	display: inline-block;
	vertical-align: middle;
	width: 11.875rem;
	height: 11.906rem;
}
.icon-mastercard {
	display: inline-block;
	vertical-align: middle;
	width: 45rem;
	height: 27rem;
}
.icon-next {
	display: inline-block;
	vertical-align: middle;
	width: 14rem;
	height: 24rem;
}
.icon-next-vertical {
	display: inline-block;
	vertical-align: middle;
	width: 19rem;
	height: 11rem;
}
.icon-pagination-next {
	display: inline-block;
	vertical-align: middle;
	width: 6rem;
	height: 11rem;
}
.icon-pagination-prev {
	display: inline-block;
	vertical-align: middle;
	width: 6rem;
	height: 11rem;
}
.icon-paypal {
	display: inline-block;
	vertical-align: middle;
	width: 49rem;
	height: 15rem;
}
.icon-prev {
	display: inline-block;
	vertical-align: middle;
	width: 14rem;
	height: 24rem;
}
.icon-prev-vertical {
	display: inline-block;
	vertical-align: middle;
	width: 19rem;
	height: 11rem;
}
.icon-search {
	display: inline-block;
	vertical-align: middle;
	width: 13rem;
	height: 13rem;
}
.icon-signin {
	display: inline-block;
	vertical-align: middle;
	width: 14rem;
	height: 15rem;
}
.icon-target {
	display: inline-block;
	vertical-align: middle;
	width: 11rem;
	height: 11rem;
}
.icon-trial-01 {
	display: inline-block;
	vertical-align: middle;
	width: 56rem;
	height: 50rem;
}
.icon-trial-02 {
	display: inline-block;
	vertical-align: middle;
	width: 60rem;
	height: 60rem;
}
.icon-trial-03 {
	display: inline-block;
	vertical-align: middle;
	width: 47rem;
	height: 58rem;
}
.icon-user {
	display: inline-block;
	vertical-align: middle;
	width: 12rem;
	height: 12rem;
}
.icon-valid {
	display: inline-block;
	vertical-align: middle;
	width: 14.875rem;
	height: 10.875rem;
}
.icon-values-01 {
	display: inline-block;
	vertical-align: middle;
	width: 65rem;
	height: 66rem;
}
.icon-values-02 {
	display: inline-block;
	vertical-align: middle;
	width: 57rem;
	height: 58rem;
}
.icon-values-03 {
	display: inline-block;
	vertical-align: middle;
	width: 63rem;
	height: 52rem;
}
.icon-visa {
	display: inline-block;
	vertical-align: middle;
	width: 49rem;
	height: 16rem;
}
.icon-write {
	display: inline-block;
	vertical-align: middle;
	width: 34rem;
	height: 28rem;
}

