# yii console commands
/yii
/yii_test
/yii_test.bat

# phpstorm project files
.idea
log/
frontend/runtime/
backend/runtime/
console/runtime/
docks/
frontend/web/assets/
frontend/web/frontend/
frontend/web/css/
frontend/web/js/
frontend/web/sprites/

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xm
* @property bool $role [tinyint(2) unsigned]  User role ID of table auth_rule
* @property string $login [varchar(255)]  User login

* @property bool $role [tinyint(2) unsigned]  User role ID of table auth_rule
* @property string $login [varchar(255)]  User login

* @property bool $role [tinyint(2) unsigned]  User role ID of table auth_rule
* @property string $login [varchar(255)]  User login
l

# vagrant runtime
/.vagrant

