//- --------------------------------------------------------------------------
//- Footer
//- --------------------------------------------------------------------------

.container-fluid

	.row
		.col-sm-5.col-lg-4.col-xl-4

			.logo
				a(href="#")
					img(src="images/logo-grey.png", alt="ProxyServers")

			p.copyright 2018 © ProxyServers<br>Допинформация копирайты

		.col-sm-7.col-lg-4.col-xl-5

			nav.nav-info
				.row
					.col-7.col-xl-6

						ul.nav-info__menu
							li
								a(href="#").nav-info__link Конфиденциальность
							li
								a(href="#").nav-info__link Сообщить о нарушении
							li
								a(href="#").nav-info__link Правила пользования
							li
								a(href="#").nav-info__link Обратная связь

					.col-5.col-xl-6

						ul.nav-info__menu
							li
								a(href="#").nav-info__link О нас
							li
								a(href="#").nav-info__link FAQ
							li
								a(href="#").nav-info__link Trial period
							li
								a(href="#").nav-info__link Карта сайта


		.col-lg-4.col-xl-3

			.payments
				p.payments__text Способы оплаты
				ul.payments__list
					li
						+sprite('icon-paypal')
					li
						+sprite('icon-visa')
					li
						+sprite('icon-mastercard')

	

	




	

