---
title: Styleguide - Proxy
bodyClass: is-load
---
extends includes/_app

block main
	
	
	// Styleguide :: Start

	.styleguide
		.container-fluid

			.row
				.col-lg-9

					.ui-wysiwyg
					
						h1 Заголовок h1

						h2 Заголовок h2

						h3 Заголовок h3

						h4 Заголовок h4

						h5 Заголовок h5

						h6 Заголовок h6


						p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно.

						p Более того, нечитабельность текста сыграет на руку при <a href="#">оценке</a> качества восприятия макета. Самым известным «рыбным» текстом является знаменитый Lorem ipsum.


						h2 Lists
						
						.row
							.col-md-6

								ul
									li Каждый веб-разработчик знает, что такое текст-«рыба».
									li Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов.
									li Используется он веб-дизайнерами для вставки
									li Так как цель применения такого текста исключительно демонстрационная

							.col-md-6

								ol
									li Каждый веб-разработчик знает, что такое текст-«рыба».
									li Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов.
									li Используется он веб-дизайнерами для вставки
									li Так как цель применения такого текста исключительно демонстрационная
						

						h2 Tables

						table
							thead
								tr
									th Позиция (h6)
									th Позиция (h6)
									th Позиция (h6)
							tbody
								tr
									td Число оборотов холостого хода
									td 3 000 Ед
									td 3 000 Ед
								tr
									td Диаметр пильного диска
									td 3 000 Ед
									td 3 000 Ед
								tr
									td Регулировка наклона
									td 3 000 Ед
									td 3 000 Ед
								tr
									td Глубина реза
									td 3 000 Ед
									td 3 000 Ед
					

					br
					br
					br

			


					// Article :: Start
					.article

						h1.article__heading Название отдельной новости или статьи

						.row
							.col

								ul.article__breadcrumbs
									li
										a(href="#").article__breadcrumbs-link
											| Главная
											+sprite('icon-breadcrumbs')
									li
										a(href="#").article__breadcrumbs-link
											| Раздел
											+sprite('icon-breadcrumbs')
									li
										a(href="#").article__breadcrumbs-link
											| Подраздел
											+sprite('icon-breadcrumbs')

							.col-auto

								time(datetime="2018-09-25").article__date 28 сентября 2018

						figure.article__image
							img(src="images/img-article-01.jpg", alt="")

						p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.

						p Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые его применили в книгопечатании еще в XVI веке. Своим появлением Lorem ipsum обязан древнеримскому философу Цицерону, ведь именно из его трактата «О пределах добра и зла» средневековый книгопечатник вырвал отдельные фразы и слова, получив текст-«рыбу», широко используемый и по сей день. Конечно, возникают некоторые вопросы, связанные с использованием Lorem ipsum на сайтах и проектах, ориентированных на кириллический контент – написание символов на латыни и на кириллице значительно различается.

						p И даже с языками, использующими латинский алфавит, могут возникнуть небольшие проблемы: в различных языках те или иные буквы встречаются с разной частотой, имеется разница в длине наиболее распространенных слов. Отсюда напрашивается вывод, что все же лучше использовать в качестве «рыбы» текст на том языке, который планируется использовать при запуске проекта. Сегодня существует несколько вариантов Lorem ipsum, кроме того, есть специальные генераторы, создающие собственные варианты текста на основе оригинального трактата, благодаря чему появляется возможность получить более длинный неповторяющийся набор слов.


						figure.article__image.article__image--left
							img(src="images/img-article-02.jpg", alt="")

						p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.

						p Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые его применили в книгопечатании еще в XVI веке. Своим появлением Lorem ipsum обязан древнеримскому философу Цицерону, ведь именно из его трактата «О пределах добра и зла» средневековый книгопечатник вырвал отдельные фразы и слова, получив текст-«рыбу», широко используемый и по сей день. Конечно, возникают некоторые вопросы, связанные с использованием Lorem ipsum на сайтах и проектах, ориентированных на кириллический контент – написание символов на латыни и на кириллице значительно различается.

						p И даже с языками, использующими латинский алфавит, могут возникнуть небольшие проблемы: в различных языках те или иные буквы встречаются с разной частотой, имеется разница в длине наиболее распространенных слов. Отсюда напрашивается вывод, что все же лучше использовать в качестве «рыбы» текст на том языке, который планируется использовать при запуске проекта. Сегодня существует несколько вариантов Lorem ipsum, кроме того, есть специальные генераторы, создающие собственные варианты текста на основе оригинального трактата, благодаря чему появляется возможность получить более длинный неповторяющийся набор слов.


						figure.article__image.article__image--right
							img(src="images/img-article-02.jpg", alt="")

						p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.

						p Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые его применили в книгопечатании еще в XVI веке. Своим появлением Lorem ipsum обязан древнеримскому философу Цицерону, ведь именно из его трактата «О пределах добра и зла» средневековый книгопечатник вырвал отдельные фразы и слова, получив текст-«рыбу», широко используемый и по сей день. Конечно, возникают некоторые вопросы, связанные с использованием Lorem ipsum на сайтах и проектах, ориентированных на кириллический контент – написание символов на латыни и на кириллице значительно различается.

						p И даже с языками, использующими латинский алфавит, могут возникнуть небольшие проблемы: в различных языках те или иные буквы встречаются с разной частотой, имеется разница в длине наиболее распространенных слов. Отсюда напрашивается вывод, что все же лучше использовать в качестве «рыбы» текст на том языке, который планируется использовать при запуске проекта. Сегодня существует несколько вариантов Lorem ipsum, кроме того, есть специальные генераторы, создающие собственные варианты текста на основе оригинального трактата, благодаря чему появляется возможность получить более длинный неповторяющийся набор слов.

						

					// Article :: End


					br
					br
					br

					h2 Form Validate

					.ui-form

						form(action="#").js-validate
							.row
								.col-md-6
									.ui-field
										input(type="email" name="email" placeholder="Email").ui-input
								.col-md-6
									.ui-field
										input(type="tel" name="tel" placeholder="Phone").ui-input
								.col-md-12
									select.ui-select
										option Option 1
										option Option 2
										option Option 3
										option Option 4
										option Option 5

								.col-md-12
									.ui-field
										textarea(name="message" placeholder="Сообщение...").ui-textarea

							button.btn.btn--blue Send

					br
					br
					br

					h2 Buttons

					.row
						.col-auto
							button.btn.btn--blue Button
						.col-auto
							button.btn.btn--green Button
						.col-auto
							button.btn.btn--blue-empty Button
						.col-auto
							button.btn.btn--green-empty Button



					br
					br
					br


					h2 Pagination


					.pagination
						a(href="#").pagination__link.pagination__link--prev
							+sprite('icon-pagination-prev')
						a(href="#").pagination__link 1
						a(href="#").pagination__link 2
						a(href="#").pagination__link.is-active 3
						a(href="#").pagination__link 4
						a(href="#").pagination__link 5
						a(href="#").pagination__link 6
						a(href="#").pagination__link 7
						a(href="#").pagination__link 8
						span.pagination__dots ...
						a(href="#").pagination__link 14
						a(href="#").pagination__link.pagination__link--next
							+sprite('icon-pagination-next')



	
	// Styleguide :: End

