//- --------------------------------------------------------------------------
//- Popups
//- --------------------------------------------------------------------------

.popup#popup-login(style="display: none;")

	span.popup__close(data-fancybox-close)
		+sprite('icon-close')

	span.popup__heading Dashboard is ready. Activate account
	
	.popup__container

		.auth

			.row
				.col-md-6.push-md-6

					.auth__login

						span.auth__heading
							| Already have an account?
							br
							a(href="#") Log in

						.auth__social
							p.auth__social-text Войти через
							.auth__social-control
								a(href="#").auth__social-btn
									span.icon-social-fb
								a(href="#").auth__social-btn
									span.icon-social-tw
								a(href="#").auth__social-btn
									span.icon-social-gp
								a(href="#").auth__social-btn
									span.icon-social-vk

						.auth__info
							p By signin up, you agree to License Agreement.
							p Запрещено регистрировать несколько аккаунтов.

				.col-md-6.pull-md-6
					
					.auth__reg

						.ui-form
							form(action="#").js-validate

								span.ui-legend Registration form

								.ui-field
									input(type="email" name="email" placeholder="Email").ui-input

								.ui-field
									input(type="password" name="password" placeholder="Password").ui-input

								.ui-field
									input(type="text" placeholder="Optional input").ui-input

								.ui-field
									select.ui-select
										option Optional Select
										option Optional Select 1
										option Optional Select 2
										option Optional Select 3

								.ui-field

									label.ui-check
										input(type="checkbox" checked).ui-check__input
										span.ui-check__checkbox
											+sprite('icon-check')
										| Remember me

								button.btn.btn--block.btn--green Create account




				
.popup#popup-signin(style="display: none;")

	span.popup__close(data-fancybox-close)
		+sprite('icon-close')

	span.popup__heading Dashboard is ready. Activate account #2
	
	.popup__container

		.auth

			.row
				.col-md-6.push-md-6

					.auth__login

						span.auth__heading
							| Already have an account?
							br
							a(href="#") Log in

						.auth__social
							p.auth__social-text Войти через
							.auth__social-control
								a(href="#").auth__social-btn
									span.icon-social-fb
								a(href="#").auth__social-btn
									span.icon-social-tw
								a(href="#").auth__social-btn
									span.icon-social-gp
								a(href="#").auth__social-btn
									span.icon-social-vk

						.auth__info
							p By signin up, you agree to License Agreement.
							p Запрещено регистрировать несколько аккаунтов.

				.col-md-6.pull-md-6
					
					.auth__reg

						.ui-form
							form(action="#").js-validate

								span.ui-legend Registration form

								.ui-field
									input(type="email" name="email" placeholder="Email").ui-input

								.ui-field
									input(type="password" name="password" placeholder="Password").ui-input

								.ui-field
									input(type="text" placeholder="Optional input").ui-input

								.ui-field
									select.ui-select
										option Optional Select
										option Optional Select 1
										option Optional Select 2
										option Optional Select 3

								.ui-field

									label.ui-check
										input(type="checkbox" checked).ui-check__input
										span.ui-check__checkbox
											+sprite('icon-check')
										| Remember me

								button.btn.btn--block.btn--green Create account

				

	
	