---
title: Article Blog - Proxy
bodyClass: page-article
---
extends includes/_app

block main


	
	.container-fluid

		.row
			.col-content

				h1 Название отдельной новости или статьи 

			.col-sidebar

				.search
					form(action="#")
						input(type="search" placeholder="Поиск").search__input
						button.search__btn
							+sprite('icon-search')

		.row
			.col-sidebar

				nav.nav-aside
					ul.nav-aside__menu
						li
							a(href="#").nav-aside__link Софт
						li
							a(href="#").nav-aside__link.is-active Новости
						li
							a(href="#").nav-aside__link Статьи
						li
							a(href="#").nav-aside__link События


				a(href="#").banner.is-visible-md
					figure.banner__image
						img(src="images/img-banner-01.jpg", alt="")
					h2.banner__title Need proxy?
					p.banner__text Мы предоставляем услуги аренды прокси-серверов. Высокое качество, достояная цена!
					span.btn.btn--green подробнее

			.col-content

				// Article :: Start
				.article

					.row
						.col

							ul.article__breadcrumbs
								li
									a(href="#").article__breadcrumbs-link
										| Главная
										+sprite('icon-breadcrumbs')
								li
									a(href="#").article__breadcrumbs-link
										| Раздел
										+sprite('icon-breadcrumbs')
								li
									a(href="#").article__breadcrumbs-link
										| Подраздел
										+sprite('icon-breadcrumbs')

						.col-auto

							time(datetime="2018-09-25").article__date 28 сентября 2018

					.article__image
						img(src="images/img-article-01.jpg", alt="")

					.article__content.ui-wysiwyg

						p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.

						p Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые его применили в книгопечатании еще в XVI веке. Своим появлением Lorem ipsum обязан древнеримскому философу Цицерону, ведь именно из его трактата «О пределах добра и зла» средневековый книгопечатник вырвал отдельные фразы и слова, получив текст-«рыбу», широко используемый и по сей день. Конечно, возникают некоторые вопросы, связанные с использованием Lorem ipsum на сайтах и проектах, ориентированных на кириллический контент – написание символов на латыни и на кириллице значительно различается.

						p И даже с языками, использующими латинский алфавит, могут возникнуть небольшие проблемы: в различных языках те или иные буквы встречаются с разной частотой, имеется разница в длине наиболее распространенных слов. Отсюда напрашивается вывод, что все же лучше использовать в качестве «рыбы» текст на том языке, который планируется использовать при запуске проекта. Сегодня существует несколько вариантов Lorem ipsum, кроме того, есть специальные генераторы, создающие собственные варианты текста на основе оригинального трактата, благодаря чему появляется возможность получить более длинный неповторяющийся набор слов.

				a(href="#").banner.is-hidden-md
						figure.banner__image
							img(src="images/img-banner-01.jpg", alt="")
						h2.banner__title Need proxy?
						p.banner__text Мы предоставляем услуги аренды прокси-серверов. Высокое качество, достояная цена!
						span.btn.btn--green подробнее

				// Article :: End




	
