---
title: Faq - Proxy
bodyClass: page-faq
---
extends includes/_app

block main


	
	.container-fluid

		.row
			.col-content

				h1 FAQ 

			.col-sidebar


				.search
					form(action="#")
						input(type="search" placeholder="Поиск").search__input
						button.search__btn
							+sprite('icon-search')

		.row
			.col-sidebar

				nav.nav-aside
					ul.nav-aside__menu
						li
							a(href="#faq-01").nav-aside__link.js-scrollto Софт
						li
							a(href="#faq-02").nav-aside__link.js-scrollto Новости
						li
							a(href="#faq-03").nav-aside__link.js-scrollto Статьи
						li
							a(href="#faq-04").nav-aside__link.js-scrollto События


				a(href="#").banner.is-visible-md
					figure.banner__image
						img(src="images/img-banner-02.jpg", alt="")
					h2.banner__title Не нашли ответа?
					span.btn.btn--45.btn--white-empty задать вопрос


			.col-content

				// Faq :: Start
				.faq
					.faq__group#faq-01
						h2.faq__group-title Название категории
						dl.faq__group-dl.js-accordion
							dt
								| Каждый веб-разработчик знает, что такое текст-«рыба» 
								+sprite('icon-accordion')
							dd Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов

							dt
								| Отсюда напрашивается вывод, что все же лучше
								+sprite('icon-accordion')
							dd Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов

							dt
								| И даже с языками, использующими латинский алфавит
								+sprite('icon-accordion')
							dd Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов

							dt
								| Каждый веб-разработчик знает, что такое текст-«рыба» 
								+sprite('icon-accordion')
							dd Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов

							dt
								| Своим появлением Lorem ipsum обязан древнеримскому философу 
								+sprite('icon-accordion')
							dd Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов

					.faq__group#faq-02
						h2.faq__group-title Категория 2
						dl.faq__group-dl.js-accordion
							dt
								| Каждый веб-разработчик знает, что такое текст-«рыба» 
								+sprite('icon-accordion')
							dd Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов

							dt
								| Отсюда напрашивается вывод, что все же лучше
								+sprite('icon-accordion')
							dd Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов


					.faq__group#faq-03
						h2.faq__group-title Категория 3
						dl.faq__group-dl.js-accordion
							dt
								| Каждый веб-разработчик знает, что такое текст-«рыба» 
								+sprite('icon-accordion')
							dd Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов

							dt
								| Отсюда напрашивается вывод, что все же лучше
								+sprite('icon-accordion')
							dd Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов

					.faq__group#faq-04
						h2.faq__group-title Категория 4
						dl.faq__group-dl.js-accordion
							dt
								| Каждый веб-разработчик знает, что такое текст-«рыба» 
								+sprite('icon-accordion')
							dd Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов

							dt
								| Отсюда напрашивается вывод, что все же лучше
								+sprite('icon-accordion')
							dd Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов

				// Faq :: End


				a(href="#").banner.is-hidden-md
					figure.banner__image
						img(src="images/img-banner-02.jpg", alt="")
					h2.banner__title Не нашли ответа?
					span.btn.btn--45.btn--white-empty задать вопрос





	

				




	
