---
title: Homepage - Proxy
bodyClass: page-homepage
---
extends includes/_app

block main


	// Hero :: Start
	.hero
		.hero__slides.js-slick-hero

			.hero__item.hero__item--01
				.container-fluid
					.row
						.col-md-6.push-md-6
							figure.hero__item-image
								img(src="images/img-hero-01.svg" alt="")

						.col-md-6.pull-md-6
							
							.hero__item-desc
								h2.hero__item-title Живые прокси-сервера <br>под любые цели
								p.hero__item-text Идеально подходят для SEO инструментов, парсинга поисковых систем, email рассылок и не только
								a(href="#").btn.btn--57.btn--green Начать сейчас


			.hero__item.hero__item--02
				.container-fluid
					.row
						.col-md-6.push-md-6
							figure.hero__item-image
								img(src="images/img-hero-02.svg" alt="")

						.col-md-6.pull-md-6
							
							.hero__item-desc
								h2.hero__item-title Работаем со всеми <br>популярными программами
								p.hero__item-text Специально для вас мы подготовили материалы, в которых описываются настройки каждого приложения
								a(href="#").btn.btn--57.btn--green Читать

			.hero__item.hero__item--03
				.container-fluid
					.row
						.col-md-6.push-md-6
							figure.hero__item-image
								img(src="images/img-hero-03.svg" alt="")

						.col-md-6.pull-md-6
							
							.hero__item-desc
								h2.hero__item-title Профессионально <br>занимаетесь email рассылками?
								.hero__item-inbox
									p С нами у вас будет лучшая доставка в inbox
									.row
										.col-auto
											img(src="images/img-inbox-01.png", alt="")
										.col-auto
											img(src="images/img-inbox-02.png", alt="")
										.col-auto
											img(src="images/img-inbox-03.png", alt="")
										.col-auto
											img(src="images/img-inbox-04.png", alt="")

								a(href="#").btn.btn--57.btn--green Начать сейчас

			.hero__item.hero__item--04
				.container-fluid
					.row
						.col-md-6.push-md-6
							figure.hero__item-image
								img(src="images/img-hero-04.svg" alt="")

						.col-md-6.pull-md-6
							
							.hero__item-desc
								h2.hero__item-title Протестируйте наши <br>сервера бесплатно
								p.hero__item-text Мы предоставляем возможность проверить наши сервера, чтобы вы могли убедиться в их качестве
								a(href="#").btn.btn--57.btn--green Начать сейчас

	// Hero :: End



	// Info :: Start
	.info
		.container-fluid

			.info__grid
				.row
					.col-sm-6.col-xl-auto

						.info__item
							figure.info__item-image
								img(src="images/img-info-01.png", alt="")
							b.info__item-number 250 000+
							p.info__item-text residential IPs

					.col-sm-6.col-xl-auto

						.info__item
							figure.info__item-image
								img(src="images/img-info-02.png", alt="")
							b.info__item-number 121+
							p.info__item-text стран

					.col-sm-6.col-xl-auto

						.info__item
							figure.info__item-image
								img(src="images/img-info-03.png", alt="")
							b.info__item-number 27 183
							p.info__item-text клиентов по всему миру

					.col-sm-6.col-xl-auto

						.info__item
							figure.info__item-image
								img(src="images/img-info-04.png", alt="")
							b.info__item-number 15 мин.
							p.info__item-text среднее время отклика <br>на вопрос в техподдержку

	// Info :: End


	// Tariff :: Start
	.tariff
		.container-fluid

			h2.tariff__heading Выберите свой тариф

			.tariff__grid

				.row
					.col-sm-6.col-xl-3

						.tariff__item
							h3.tariff__item-title Start

							.tariff__item-price
								b 200$<sub>/month</sub>


							ul.tariff__item-info
								li 40 Gb трафика
								li До 500 потоков одновременно
								li До 1 IP адреса, далее с доплатой 50%
							
							.tariff__item-subsc
								label.ui-check
									input(type="checkbox" checked).ui-check__input
									span.ui-check__checkbox
										+sprite('icon-check')
									| email-рассылка

							.tariff__item-control
								button.btn.btn--blue-empty Купить


					.col-sm-6.col-xl-3

						.tariff__item

							span.tariff__item-discount -30%

							h3.tariff__item-title Optimal

							.tariff__item-price
								small 1500$<sub>/month</sub>
								mark 1000$<sub>/month</sub>

							ul.tariff__item-info
								li 40 Gb трафика
								li 2 активации кнопки “Пауза”
								li До 1 IP адреса, далее с доплатой 50%

							.tariff__item-subsc
								label.ui-check
									input(type="checkbox" checked).ui-check__input
									span.ui-check__checkbox
										+sprite('icon-check')
									| email-рассылка

							.tariff__item-control
								button.btn.btn--blue-empty Купить


					.col-sm-6.col-xl-3

						.tariff__item

							h3.tariff__item-title Proffesional

							.tariff__item-price
								b 3000$<sub>/month</sub>

							ul.tariff__item-info
								li 40 Gb трафика
								li 2 активации кнопки “Пауза”
								li До 1 IP адреса, далее с доплатой 50%
							
							.tariff__item-subsc
							
								label.ui-check
									input(type="checkbox" checked).ui-check__input
									span.ui-check__checkbox
										+sprite('icon-check')
									| email-рассылка

							.tariff__item-control
								button.btn.btn--blue-empty Купить


					.col-sm-6.col-xl-3

						.tariff__item.tariff__item--highlighted

							h3.tariff__item-title Trial период

							.tariff__item-price
								b бесплатно

							.tariff__item-code
								label.ui-label Безлимитный трафик
								input(type="text" placeholder="Введите секретный код").ui-input.ui-input--38
								a(href="#").ui-link.ui-link--green
									span.ui-link__dashed Как получить секретный код?
							
							.tariff__item-subsc
								label.ui-check
									input(type="checkbox" checked).ui-check__input
									span.ui-check__checkbox
										+sprite('icon-check')
									| email-рассылка

							.tariff__item-control
								button.btn.btn--green Получить


	// Tariff :: End


	// Adv :: Start
	.adv
		.container-fluid

			h2.adv__heading Преимущества

			.adv__grid
				.row
					.col-6.col-md-4.col-xl-3

						.adv__item
							figure.adv__item-icon
								+sprite('icon-adv-1')
							h3.adv__item-title
								a(href="#") Обширная <br>ГЕО зона
							p.adv__item-text Наши сервера находятся в 130+  странах, что является более 50% от общего количества всех стран в мире.

					.col-6.col-md-4.col-xl-3

						.adv__item
							figure.adv__item-icon
								+sprite('icon-adv-2')
							h3.adv__item-title
								a(href="#") 100% совместимость <br>инструментов для SEO
							p.adv__item-text Мы регулярно следим за нашими серверами. Те сервера, которые банятся, мы выносим из списка и заменяем их новыми.

					.col-6.col-md-4.col-xl-3

						.adv__item
							figure.adv__item-icon
								+sprite('icon-adv-3')
							h3.adv__item-title
								a(href="#") Параллельные <br>сессии
							p.adv__item-text Доступно использование неограниченное количество одновременных потоков.

					.col-6.col-md-4.col-xl-3

						.adv__item
							figure.adv__item-icon
								+sprite('icon-adv-4')
							h3.adv__item-title
								a(href="#") Профессиональная <br>тех.поддержка
							p.adv__item-text Наши специалисты 24/7 готовы помочь вам в решении возникших вопросов, касаемо нашего сервиса.

					.col-6.col-md-4.col-xl-3

						.adv__item
							figure.adv__item-icon
								+sprite('icon-adv-5')
							h3.adv__item-title
								a(href="#") Поддерживаем <br>все протоколы
							p.adv__item-text Прокси сервера поддерживают SOCKS4/4a, SOCKS5, HTTP, HTTPS протоколы

					.col-6.col-md-4.col-xl-3

						.adv__item
							figure.adv__item-icon
								+sprite('icon-adv-6')
							h3.adv__item-title
								a(href="#") Удобная <br>админ панель
							p.adv__item-text Наша панель управления имеет достаточный функционал, удобный интерфейс и постоянно совершенствуется

					.col-6.col-md-4.col-xl-3

						.adv__item
							figure.adv__item-icon
								+sprite('icon-adv-7')
							h3.adv__item-title
								a(href="#") Привязка <br>нескольких IP
							p.adv__item-text Мы реализовали возможность привязки нескольких IP адресов к одному тарифу, однако каждая последующая привязка стоит 50% к тарифу

					.col-6.col-md-4.col-xl-3

						.adv__item
							figure.adv__item-icon
								+sprite('icon-adv-8')
							h3.adv__item-title
								a(href="#") Возможность <br>email-рассылки
							p.adv__item-text Мы не блокируем порт  25, более того у нас есть статьи  на те программы, которые используются для email-рассылок.

	// Adv :: End


	// For :: Start
	.for
		.container-fluid

			h2.for__heading Наши прокси подходят для

			.for__grid

				.row
					.col-6.col-md-4.col-xl-3

						a(href="#").for__item
							.for__item-in
								figure.for__item-image
									img(src="images/img-for-01.png" width="200" alt="Zennoposter")
								span.btn.btn--green ПОДРОБНЕЕ
					.col-6.col-md-4.col-xl-3

						a(href="#").for__item
							.for__item-in
								figure.for__item-image
									img(src="images/img-for-02.png" width="181" alt="Brobot")
								span.btn.btn--green ПОДРОБНЕЕ
					.col-6.col-md-4.col-xl-3

						a(href="#").for__item
							.for__item-in
								figure.for__item-image
									img(src="images/img-for-03.png" width="184" alt="Proxifier")
								span.btn.btn--green ПОДРОБНЕЕ
					.col-6.col-md-4.col-xl-3

						a(href="#").for__item
							.for__item-in
								figure.for__item-image
									img(src="images/img-for-04.png" width="157" alt="Ilizium")
								span.btn.btn--green ПОДРОБНЕЕ
					.col-6.col-md-4.col-xl-3

						a(href="#").for__item
							.for__item-in
								figure.for__item-image
									img(src="images/img-for-05.png" width="208" alt="Parsehub")
								span.btn.btn--green ПОДРОБНЕЕ
					.col-6.col-md-4.col-xl-3

						a(href="#").for__item
							.for__item-in
								figure.for__item-image
									img(src="images/img-for-06.png" width="175" alt="Somiibo")
								span.btn.btn--green ПОДРОБНЕЕ
					.col-6.col-md-4.col-xl-3

						a(href="#").for__item
							.for__item-in
								figure.for__item-image
									img(src="images/img-for-07.png" width="187" alt="Following")
								span.btn.btn--green ПОДРОБНЕЕ
					.col-6.col-md-4.col-xl-3

						a(href="#").for__item
							.for__item-in
								figure.for__item-image
									img(src="images/img-for-08.png" width="194" alt="ePochta Mailer")
								span.btn.btn--green ПОДРОБНЕЕ

			.for__control
				a(href="blog.html").btn.btn--blue-empty смотреть все

	// For :: End


	// Reviews :: Start
	.reviews
		.container-fluid

			h2.reviews__heading Лучшие отзывы

			.reviews__container.js-reviews
				.reviews__thumbs.js-reviews-thumbs

					.reviews__author
						figure.reviews__author-icon
						p.reviews__author-caption
							| Без иконки
							small Ivan Vorobyev

					.reviews__author
						figure.reviews__author-icon
							img(src="images/icon-reviews-01.png", alt="")
						p.reviews__author-caption
							| NameDomenSite.com
							small Ivan Vorobyev

					.reviews__author
						figure.reviews__author-icon
							img(src="images/icon-reviews-02.png", alt="")
						p.reviews__author-caption
							| NameDomenSite.com
							small Ivan Vorobyev

					.reviews__author
						figure.reviews__author-icon
						p.reviews__author-caption
							| Без иконки
							small Ivan Vorobyev

					.reviews__author
						figure.reviews__author-icon
							img(src="images/icon-reviews-01.png", alt="")
						p.reviews__author-caption
							| NameDomenSite.com
							small Ivan Vorobyev

					.reviews__author
						figure.reviews__author-icon
							img(src="images/icon-reviews-02.png", alt="")
						p.reviews__author-caption
							| NameDomenSite.com
							small Ivan Vorobyev

				.reviews__slides.js-reviews-slides

					blockquote.reviews__blockquote
						time(datetime="2018-09-25") 25.09.2018

						p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. 

						p Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно.

						.row
							.col-sm-auto
								a(href="#").ui-link.ui-link--green
									| Оригинал отзыва
									+sprite('icon-arrow-right')
							.col-sm-auto
								a(href="#").ui-link.ui-link--green
									| Тема отзыва
									+sprite('icon-arrow-right')

					blockquote.reviews__blockquote

						time(datetime="2018-09-25") 25.09.2018

						p Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно.


						.row
							.col-sm-auto
								a(href="#").ui-link.ui-link--green
									| Оригинал отзыва
									+sprite('icon-arrow-right')
							.col-sm-auto
								a(href="#").ui-link.ui-link--green
									| Тема отзыва
									+sprite('icon-arrow-right')

					blockquote.reviews__blockquote
						time(datetime="2018-09-25") 25.09.2018

						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident voluptas recusandae illum iure asperiores labore voluptatibus, porro debitis ex quidem est blanditiis nostrum, voluptates, veritatis explicabo sunt quod animi ipsum.

						.row
							.col-sm-auto
								a(href="#").ui-link.ui-link--green
									| Оригинал отзыва
									+sprite('icon-arrow-right')
							.col-sm-auto
								a(href="#").ui-link.ui-link--green
									| Тема отзыва
									+sprite('icon-arrow-right')

					blockquote.reviews__blockquote
						time(datetime="2018-09-25") 25.09.2018

						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Последний океана он, даже использовало вдали семь одна злых имени обеспечивает, живет точках грамматики бросил агенство подпоясал наш, переулка сбить?

						p Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно.

						.row
							.col-sm-auto
								a(href="#").ui-link.ui-link--green
									| Оригинал отзыва
									+sprite('icon-arrow-right')
							.col-sm-auto
								a(href="#").ui-link.ui-link--green
									| Тема отзыва
									+sprite('icon-arrow-right')

					blockquote.reviews__blockquote
						time(datetime="2018-09-25") 25.09.2018

						p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. 

						p Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно.

						.row
							.col-sm-auto
								a(href="#").ui-link.ui-link--green
									| Оригинал отзыва
									+sprite('icon-arrow-right')
							.col-sm-auto
								a(href="#").ui-link.ui-link--green
									| Тема отзыва
									+sprite('icon-arrow-right')

					blockquote.reviews__blockquote
						time(datetime="2018-09-25") 25.09.2018

						p Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. 

						p Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно.

						.row
							.col-sm-auto
								a(href="#").ui-link.ui-link--green
									| Оригинал отзыва
									+sprite('icon-arrow-right')
							.col-sm-auto
								a(href="#").ui-link.ui-link--green
									| Тема отзыва
									+sprite('icon-arrow-right')

			.reviews__control
				a(href="feedback.html").btn.btn--white-empty Смотреть больше отзывов
				
	// Reviews :: End
