---
title: Pricing - Proxy
bodyClass: page-pricing
---
extends includes/_app

block main


	// Tariff :: Start
	.tariff
		.container-fluid

			h2.tariff__heading Выберите свой тариф

			.tariff__grid

				.row
					.col-sm-6.col-xl-3

						.tariff__item
							h3.tariff__item-title Start

							.tariff__item-price
								b 200$<sub>/month</sub>


							ul.tariff__item-info
								li 40 Gb трафика
								li До 500 потоков одновременно
								li До 1 IP адреса, далее с доплатой 50%
							
							.tariff__item-subsc
								label.ui-check
									input(type="checkbox" checked).ui-check__input
									span.ui-check__checkbox
										+sprite('icon-check')
									| email-рассылка

							.tariff__item-control
								button.btn.btn--blue-empty Купить


					.col-sm-6.col-xl-3

						.tariff__item

							span.tariff__item-discount -30%

							h3.tariff__item-title Optimal

							.tariff__item-price
								small 1500$<sub>/month</sub>
								mark 1000$<sub>/month</sub>

							ul.tariff__item-info
								li 40 Gb трафика
								li 2 активации кнопки “Пауза”
								li До 1 IP адреса, далее с доплатой 50%

							.tariff__item-subsc
								label.ui-check
									input(type="checkbox" checked).ui-check__input
									span.ui-check__checkbox
										+sprite('icon-check')
									| email-рассылка

							.tariff__item-control
								button.btn.btn--blue-empty Купить


					.col-sm-6.col-xl-3

						.tariff__item

							h3.tariff__item-title Proffesional

							.tariff__item-price
								b 3000$<sub>/month</sub>

							ul.tariff__item-info
								li 40 Gb трафика
								li 2 активации кнопки “Пауза”
								li До 1 IP адреса, далее с доплатой 50%
							
							.tariff__item-subsc
							
								label.ui-check
									input(type="checkbox" checked).ui-check__input
									span.ui-check__checkbox
										+sprite('icon-check')
									| email-рассылка

							.tariff__item-control
								button.btn.btn--blue-empty Купить


					.col-sm-6.col-xl-3

						.tariff__item.tariff__item--highlighted

							h3.tariff__item-title Бесплатная

							.tariff__item-price
								b 0$<sub>/month</sub>

							.tariff__item-code
								label.ui-label Безлимитный трафик
								input(type="text" placeholder="Введите секретный код").ui-input.ui-input--38
								a(href="#").ui-link.ui-link--green
									span.ui-link__dashed Как получить секретный код?
							
							.tariff__item-subsc
								label.ui-check
									input(type="checkbox" checked).ui-check__input
									span.ui-check__checkbox
										+sprite('icon-check')
									| email-рассылка

							.tariff__item-control
								button.btn.btn--green Получить


	// Tariff :: End


	// Adv :: Start
	.adv
		.container-fluid

			h2.adv__heading Преимущества

			.adv__grid
				.row
					.col-6.col-md-4.col-xl-3

						.adv__item
							figure.adv__item-icon
								+sprite('icon-adv-1')
							h3.adv__item-title
								a(href="#") Обширная <br>ГЕО зона
							p.adv__item-text Наши сервера находятся в 130+  странах, что является более 50% от общего количества всех стран в мире.

					.col-6.col-md-4.col-xl-3

						.adv__item
							figure.adv__item-icon
								+sprite('icon-adv-2')
							h3.adv__item-title
								a(href="#") 100% совместимость <br>инструментов для SEO
							p.adv__item-text Мы регулярно следим за нашими серверами. Те сервера, которые банятся, мы выносим из списка и заменяем их новыми.

					.col-6.col-md-4.col-xl-3

						.adv__item
							figure.adv__item-icon
								+sprite('icon-adv-3')
							h3.adv__item-title
								a(href="#") Параллельные <br>сессии
							p.adv__item-text Доступно использование неограниченное количество одновременных потоков.

					.col-6.col-md-4.col-xl-3

						.adv__item
							figure.adv__item-icon
								+sprite('icon-adv-4')
							h3.adv__item-title
								a(href="#") Профессиональная <br>тех.поддержка
							p.adv__item-text Наши специалисты 24/7 готовы помочь вам в решении возникших вопросов, касаемо нашего сервиса.

					.col-6.col-md-4.col-xl-3

						.adv__item
							figure.adv__item-icon
								+sprite('icon-adv-5')
							h3.adv__item-title
								a(href="#") Поддерживаем <br>все протоколы
							p.adv__item-text Прокси сервера поддерживают SOCKS4/4a, SOCKS5, HTTP, HTTPS протоколы

					.col-6.col-md-4.col-xl-3

						.adv__item
							figure.adv__item-icon
								+sprite('icon-adv-6')
							h3.adv__item-title
								a(href="#") Удобная <br>админ панель
							p.adv__item-text Наша панель управления имеет достаточный функционал, удобный интерфейс и постоянно совершенствуется

					.col-6.col-md-4.col-xl-3

						.adv__item
							figure.adv__item-icon
								+sprite('icon-adv-7')
							h3.adv__item-title
								a(href="#") Привязка <br>нескольких IP
							p.adv__item-text Мы реализовали возможность привязки нескольких IP адресов к одному тарифу, однако каждая последующая привязка стоит 50% к тарифу

					.col-6.col-md-4.col-xl-3

						.adv__item
							figure.adv__item-icon
								+sprite('icon-adv-8')
							h3.adv__item-title
								a(href="#") Возможность <br>email-рассылки
							p.adv__item-text Мы не блокируем порт  25, более того у нас есть статьи  на те программы, которые используются для email-рассылок.

	// Adv :: End


	// Contacts :: Start
	.contacts
		.container-fluid

			h2.contacts__heading Есть вопросы? Задайте их нам

			.contacts__container

				.row
					.col-md-6.push-md-6

						.contacts__info

							p.contacts__caption Вы также можете посмотреть раздел <a href="#">FAQ</a>,<br> возможно там есть ответ на интересующий вас вопрос.
							
							.contacts__writeus

								figure.contacts__writeus-icon
									+sprite('icon-write')

								p.contacts__writeus-text Также мы есть в социальных сетях и мессенджерах.<br>Напишите нам и мы ответим:

								ul.contacts__menu
									li
										a(href="#").contacts__link
											span.icon-skype
											| testSkypeLogin
									li
										a(href="#").contacts__link
											span.icon-telegram
											| testTgLogin
									li
										a(href="#").contacts__link
											span.icon-facebook
											| ServiceProfile
									li
										a(href="#").contacts__link
											span.icon-whatsapp
											| +7 987 654-32-10

							p.contacts__caption Если вы сомневаетесь в качестве прокси-серверов, воспользуйтесь <a href="#">пробной версией</a>

					.col-md-6.pull-md-6
						

						.contacts__form
							.ui-form
								form(action="#").js-validate

									.row
										.col-lg-6

											.ui-field
												input(type="text" name="name" placeholder="Ваше имя").ui-input
										
										.col-lg-6

											.ui-field
												input(type="email" name="email" placeholder="Email").ui-input

										.col-lg-12

											.ui-field
												textarea(placeholder="Сообщение...").ui-textarea

									p.ui-confirm Предоставляемые данные обрабатываются в целях администрирования вашего запроса и информирования вас о наших услугах. Пожалуйста, ознакомьтесь с нашей <a href="#">Политикой конфиденциальности</a>

									.row
										.col-lg

											.ui-capcha
												img(src="images/img-capcha.png", alt="")

										.col-lg-auto
											button.btn.btn--block.btn--green Отправить

					

	// Contacts :: End
