---
title: Trial - Proxy
bodyClass: page-trial
---
extends includes/_app

block main

	// Trial :: Start
	.trial
		.container-fluid

			.ui-wysiwyg
			
				h1 Информация по предоставлению тестового периода

				p Если вы сомневаетесь в чем-то, мы готовы предоставить триал период на 1 час. За это время вы сможете оценить следующие показатели и качество нашего сервиса:

				ul
					li Админ панель
					li Скорость серверов
					li Максимальное количество одновременных потоков
					li Пропускную способность трафика
					li Реальный объем уникальных IP

				p После теста системы мы полагаем, что у вас не останется к нам больше вопросов, однако, если это не так, мы всегда готовы <a href="#">ответить вам</a>.<br>Чтобы получить тестовый период, должны быть соблюдены следующие незначительные условия:

				ul
					li Один человек может брать только 1 тестовый период
					li Вы должны быть зарегистрированы на одном из форумов, подробнее <a href="#">тут</a>.



			.trial__grid
				.row
					.col-lg-4

						.trial__item
							figure.trial__item-icon
								+sprite('icon-trial-01')
							h2.trial__item-title Написать нам <br>на форуме

					.col-lg-4

						.trial__item
							figure.trial__item-icon
								+sprite('icon-trial-02')
							h2.trial__item-title Запросить Trial <br>у техподдержки

					.col-lg-4

						.trial__item
							figure.trial__item-icon
								+sprite('icon-trial-03')
							h2.trial__item-title Получить <br>Trial период



	// Trial :: End





	
